[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/ezarko/puppetlabs-nginx
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/sudoers"]
	path = modules/sudoers
	url = https://github.com/windowsrefund/puppet-sudoers.git
